@import url('wave.css');
.root-block {
    .site-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        border-top: 1px solid #15151566;
        .footer-block {
            max-width: 300px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 6px;
            padding: 10px 6px;
            box-sizing: border-box;
            .footer-element {
                display: flex;
                max-width: 250px;
                width: 100%;
                align-items: center;
                gap: 10px;
                img {
                    width: 22px;
                    height: 22px;
                }
                span {
                    transition: all .2s ease-in-out;
                    &:hover {
                        perspective-origin: 400px;
                        animation: wave 2.9s ease-in-out infinite;
                    }
                }
            }
        }
        @media (max-width: 520px) {
            gap: 15px;
            flex-direction: column;
        }
    }
}