.root-block {
    overflow-x: hidden;
    .site-header {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        border-bottom: 1px solid #15151566;
        height: 50px;
        .logo {
            width: 100px;
            height: 100px;
            cursor: pointer;
            position: absolute;
            left: 0px;
            z-index: 1000;
        }
        .burger {
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 7px;
            z-index: 1000;
            position: absolute;
            right: 15px;
            transition: all .3s ease-in-out;
            &.active {
                transform: rotate(90deg);
            }
            cursor: pointer;
            span {
                line-height: 0;
                font-weight: 10;
                font-size: 30px;
                margin: 0;
            }
        }
        .header-list {
            display: flex;
            justify-content: center;
            justify-self: center;
            overflow-x: hidden;
            $width: 140px;
            &.burger-menu {
                &.menu-hide {
                    top: -20px;
                }
                &.menu-show {
                    display: flex;
                    top: -120vh;
                }
                overflow-x: hidden;
                transition: all .3s ease-in-out;
                position: absolute;
                top: -120vh;
                width: 130vh;
                height: 110vh;
                background-color: wheat;
                flex-direction: column;
                gap: 15px;
                align-items: center;
            }
            a {
                height: 40px;
                width: $width;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s ease-in;
                position: relative;
                li {
                    display: flex;
                    align-items: center;
                }
                .icon {
                    width: 22px;
                    display: flex;
                    align-items: center;
                    img {
                        width: 16px;
                        height: 16px;
                        transition: all .8s ease-in-out;
                    }
                }
                &::after {
                    content: '';
                    transition: all .3s ease-in;
                    position: absolute;
                    width: $width;
                    top: 30px;
                    height: 0px;
                    border-bottom: 1px solid black;
                    transform: rotateY(90deg);
                }
                &:hover {
                    &::after {
                        transform: rotateY(0deg);
                    }
                    .icon img {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}