.product {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 7px 3px;
    border: 1px solid #17171764;
    border-radius: 5px;
    align-items: center;
    flex-wrap: wrap;
    position: static;
    .product-img {
        width: 100%;
        background-color: #171717;
        object-fit: contain;
        height: 200px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    .product-name {
        font-size: 19px;
        font-weight: 500;
        color: #171717;
        font-weight: 600;
        margin-top: 5px;
    }
    .product-price {
        font-size: 16px;
        font-weight: 500;
        color: #171717;
        font-weight: 300;
        margin-top: 5px;
        align-self: start;
    }
    .showDesc {
        background-color: white;
        border-radius: 8px;
        border: 1px solid #15151587;
        outline: none;
        padding: 4px;
        transition: all .2s ease-in-out;
        &:hover {
            background-color: #171717;
            color: white;
        }
        &.hide {
            background-color: #171717;
            color: white;
            &:hover {
                background-color: white;
                color: #171717;
            }
        }
    }
    .product-desc {
        text-align: justify;
        align-self: start;
        text-indent: 1.1em;
        word-wrap: break-all;
    }
}